#robot-control-wrapper {
    background: url("../images/robot/robot_initial.png") no-repeat top center;
    background-size: auto 100%;
    margin: 0 auto;
    max-width: 1024px;
}

.footer {
    position: fixed;
    bottom: 0;
}

.footer #robot-position {
    padding-bottom: 5px;
}

.footer > md-toolbar i {
    font-size: 25px;
}

.footer > md-toolbar {
    min-height: 50px;
    max-height: 50px;
    height: 50px;
}

.footer > md-toolbar > span {
    text-align: center;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}